<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">SHOP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse 
    {% if 'shop' in request.path %}
      active
    {% endif %}
      " id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shop:allprodcat' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Categories</a>
          <ul class="dropdown-menu">
            {% for cat in links %}
            <li><a class="dropdown-item" href="{{cat.get_url}}">{{cat.name}}</a></li>
            {% endfor %}
            <li><a class="dropdown-item" href="#">Another link</a></li>
            <li><a class="dropdown-item" href="#">A third link</a></li>
          </ul>
        </li>
        
        {% if  item_count > 0 %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cart:cart_detail' %}"><i class="fas fa-shopping-cart"></i>  ({{item_count}}) </a>
        </li>
        {% endif %}
      </ul>
      <form class="d-flex" action="{% url 'search_app:searchresults' %}" method="get">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search" name="q" aria-label="Search">
        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
    </form>
    
    </div>
  </div>
</nav>


{% comment %} <nav>
    <ul>
        <ul>
            <a href="{% url 'shop:allprodcat' %}">all prducts</a>
            
            {% for cat in links %}
                <li>
                    <a href="{{cat.get_url}}"> {{cat.name}} </a>
                </li>
            {% endfor %}
            <li>your cart()</li>
        </ul>
    </ul>
</nav> {% endcomment %}